{% extends 'frontend/master.html.twig' %}

{%  block css %}
{% endblock %}

{% block main %}
    <section class="slider-banner">
        <div class="item">
        	<div class="avarta"><img alt="" src="images/banner.png" class="img-fluid" width="100%"></div>
        	<div class="caption mont">
        		<div class="container">
        			<h2><span>sàn nhựa giả gỗ</span></h2>
	        		<h3><a title="" href="product-detail.php">hnc floor 2mn <br> tự dính</a></h3>
	        		<div class="readmore"><a title="" href="product-detail.php">Xem thêm</a></div>
        		</div>
        	</div>
        </div>
        <div class="item">
        	<div class="avarta"><img alt="" src="images/banner.png" class="img-fluid" width="100%"></div>
        	<div class="caption mont">
        		<div class="container">
        			<h2><span>sàn nhựa giả gỗ</span></h2>
	        		<h3><a title="" href="product-detail.php">hnc floor 2mn <br> tự dính</a></h3>
	        		<div class="readmore"><a title="" href="product-detail.php">Xem thêm</a></div>
        		</div>
        	</div>
        </div>
    </section>
    <section id="service">
    	<div class="container">
    		<div class="content">
    			<div class="list-srv">
    				<div class="row">
    					<div class="col-md-4">
    						<div class="item text-center  wow fadeInUp wHighlight" data-wow-delay=".2s">
    							<div class="icon"><img alt="" src="images/srv1.png" class="img-fluid" alt=""></div>
    							<div class="info">
    								<h2 class="mont">đội ngũ nhân viên</h2>
    								<p>Tiếp nhận yêu cầu ban đầu của khách hàng</p>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="item text-center  wow fadeInUp wHighlight" data-wow-delay=".3s">
    							<div class="icon"><img alt="" src="images/srv2.png" class="img-fluid" alt=""></div>
    							<div class="info">
    								<h2 class="mont">chất lượng sản phẩm</h2>
    								<p>Tiếp nhận yêu cầu ban đầu của khách hàng</p>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="item text-center  wow fadeInUp wHighlight" data-wow-delay=".4s">
    							<div class="icon"><img alt="" src="images/srv3.png" class="img-fluid" alt=""></div>
    							<div class="info">
    								<h2 class="mont">chất lượng dự án tốt</h2>
    								<p>Tiếp nhận yêu cầu ban đầu của khách hàng</p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="box-about">
    	<div class="bg-ab"></div>
    	<div class="container">
    		<div class="content">
    			<div class="title mont text-center wow fadeInUp wHighlight" data-wow-delay=".2s"><h2><span>Giới thiệu</span></h2></div>
    			<div class="desc text-center wow fadeIn wHighlight" data-wow-delay=".3s">
					<p class="text-center">Được thành lập năm 2014, với 3 mảng dịch vụ chính: văn phòng- nhà hàng- nhà ở. Với phương châm kinh doanh “KHÔNG NGỪNG YÊU-  KHÔNG NGỪNG SÁNG TẠO”, công ty thiết kế nội thất Vina TQ xây dựng nền tảng kinh doanh dựa trên tình yêu, niềm đam mê với công việc. Với đội ngũ trẻ, năng động, nhiệt huyết nhiều kinh nghiệm.</p>
				</div>
    			<div class="info-box-ab wow fadeIn wHighlight" data-wow-delay=".3s">
    				<p class="text-center"><img alt="" src="images/about.png" class="img-fluid" alt=""></p>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="box-project">
    	<div class="container-fluid">
    		<div class="content">
    			<div class="title text-center mont">
    				<h2><span>dự án của chúng tôi</span></h2>
    			</div>
    			<div class="list-project">
    				<div class="row">
    					<div class="col-md-4 col-sm-4">
    						<div class="item wow fadeInUp wHighlight" data-wow-delay=".2s">
    							<div class="avarta"><img alt="" src="images/pr1.png" class="img-fluid" width="100%" alt=""></div>
    							<div class="info">
    								<div class="info-pr">
    									<h2 class="mont"><a title="" href="project-detail.php">văn phòng đại diện vietcombank</a></h2>
	    								<p>dự án văn phòng</p>
	    								<div class="readmore mont"><a title="" href="project-detail.php">Xem thêm</a></div>
    								</div>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-4 col-sm-4">
    						<div class="item wow fadeInUp wHighlight" data-wow-delay=".3s">
    							<div class="avarta"><img alt="" src="images/pr2.png" class="img-fluid" width="100%" alt=""></div>
    							<div class="info">
    								<div class="info-pr">
    									<h2 class="mont"><a title="" href="project-detail.php">văn phòng đại diện vietcombank</a></h2>
	    								<p>dự án văn phòng</p>
	    								<div class="readmore mont"><a title="" href="project-detail.php">Xem thêm</a></div>
    								</div>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-4 col-sm-4">
    						<div class="item wow fadeInUp wHighlight" data-wow-delay=".4s">
    							<div class="avarta"><img alt="" src="images/pr3.png" class="img-fluid" width="100%" alt=""></div>
    							<div class="info">
    								<div class="info-pr">
    									<h2 class="mont"><a title="" href="project-detail.php">văn phòng đại diện vietcombank</a></h2>
	    								<p>dự án văn phòng</p>
	    								<div class="readmore mont"><a title="" href="project-detail.php">Xem thêm</a></div>
    								</div>
    							</div>
    						</div>
    					</div>
    					<div class="col-md-12">
    						<div class="readmore mont load-pr wow fadeInUp wHighlight" data-wow-delay=".4s"><a title="" href="project.php">Xem thêm dự án</a></div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="ads">
    	<div class="container">
    		<div class="content">
    			<div class="avarta"><a title="" href=""><img alt="" src="images/qc.png" class="img-fluid" width="100%" alt=""></a></div>
    		</div>
    	</div>
    </section>
    <section id="box-video">
        <div class="container">
            <div class="content">
                <div class="title text-center mont"><h2><span>Video dự án</span></h2></div>
                <div class="list-box-video">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="item wow fadeIn wHighlight" data-wow-delay=".2s">
                                <div class="avarta">
                                    <img alt="" src="images/video1.png" class="img-fluid" width="100%" alt="">
                                    <div class="play"><a title="" href="javascript:0" data-toggle="modal" data-target="#myModal-video"><img alt="" src="images/play.png" class="img-fluid" alt=""></a></div>
                                </div>
                                <div class="info text-center">
                                    <h3 class="mont"><a title="" href="">Văn phòng đại việt vietcombank</a></h3>
                                    <span>Dự án văn phòng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item wow fadeIn wHighlight" data-wow-delay=".4s">
                                <div class="avarta">
                                    <img alt="" src="images/video2.png" class="img-fluid" width="100%" alt="">
                                    <div class="play"><a title="" href="javascript:0" data-toggle="modal" data-target="#myModal-video"><img alt="" src="images/play.png" class="img-fluid" alt=""></a></div>
                                </div>
                                <div class="info text-center">
                                    <h3 class="mont"><a title="" href="">Văn phòng đại việt vietcombank</a></h3>
                                    <span>Dự án văn phòng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item wow fadeIn wHighlight" data-wow-delay=".6s">
                                <div class="avarta">
                                    <img alt="" src="images/video3.png" class="img-fluid" width="100%" alt="">
                                    <div class="play"><a title="" href="javascript:0" data-toggle="modal" data-target="#myModal-video"><img alt="" src="images/play.png" class="img-fluid" alt=""></a></div>
                                </div>
                                <div class="info text-center">
                                    <h3 class="mont"><a title="" href="">Văn phòng đại việt vietcombank</a></h3>
                                    <span>Dự án văn phòng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!-- <div class="readmore mont mr-top"><a title="" href="">xem thêm video</a></div>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sale">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left wow fadeInLeft wHighlight" data-wow-delay=".2s">
                            <div class="avarta"><img alt="" src="images/saler.png" class="img-fluid" width="100%" alt=""></div>
                            <div class="info">
                                <div class="info-sale">
                                    <div class="tag"><a title="" href="">#Sàn nhựa giả gỗ</a></div>
                                    <h3><a title="" href="" class="mont">Sàn Nhựa MODULEO <br> ( Nhập khẩu 100% từ Bỉ)</a></h3>
                                    <div class="readmore mont"><a title="" href="">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right text-right wow fadeInRight wHighlight" data-wow-delay=".2s">
                            <div class="list-product">
                                <div class="item text-center">
                                    <div class="avarta">
                                        <a title="" href="product-detail.php"><img alt="" src="images/sp-home.png" class="img-fluid" alt=""></a>
                                        <div class="readmore"><a title="" href="product-detail.php" class="mont">Mua ngay</a></div>
                                        <div class="status"><a title="" href="javascript:0" class="sale mont">Sale</a></div>
                                    </div>
                                    <div class="info">
                                        <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                        <div class="price">
                                            <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tabs-control">
        <div class="container">
            <div class="content">
                <ul class="nav nav-tabs mont title text-center wow fadeInUp wHighlight" data-wow-delay=".15s" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">sản phẩm mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">bán chạy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">khuyến mại</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="list-product">
                            <div class="row">
                                <div class="col-md-3 col-6 col-sm-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".1s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp4.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 col-sm-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".2s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp4.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="sale mont">Sale</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 col-sm-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".3s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp4.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 col-sm-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".4s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp4.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div class="list-product">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".1s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp1.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".2s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp1.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="sale mont">Sale</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".3s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp1.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".4s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp1.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        <div class="list-product">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".1s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp3.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".2s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp3.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".3s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp3.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <div class="item text-center wow fadeIn wHighlight" data-wow-delay=".4s">
                                        <div class="avarta">
                                            <a title="" href="product-detail.php"><img alt="" src="images/sp3.png" class="img-fluid" alt=""></a>
                                            <div class="readmore"><a title="" href="product-detail.php" class="mont" data-toggle="modal" data-target="#myModal">Mua ngay</a></div>
                                            <div class="status"><a title="" href="javascript:0" class="new mont">mới</a></div>
                                        </div>
                                        <div class="info">
                                            <h3><a title="" href="product-detail.php" class="mont">Tấm ốp PVC vân đá DV-204</a></h3>
                                            <div class="price">
                                                <del>555.000 vnđ</del><span>300.000 vnđ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="readmore mont wow fadeInUp wHighlight" data-wow-delay=".2s">
                    <a title="" href="product.php">Xem tất cả</a>
                </div>
            </div>
        </div>
    </section>
    <section id="box-news">
        <div class="other">
            <div class="container">
                <div class="title text-center mont wow fadeInUp wHighlight" data-wow-delay=".2s"><h2><span>Tin tức nổi bật</span></h2></div>
                <div class="list-news">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item">
                                <div class="avarta"><a title="" href="new-detail.php"><img alt="" src="images/new1.png" class="img-fluid" alt=""></a></div>
                                <div class="info">
                                    <div class="date"><span>26/8/2020</span></div>
                                    <h3 class="mont"><a title="" href="new-detail.php">xua tan nắng nóng với nội thất màu xanh ngọc</a></h3>
                                    <div class="desc">Thời buổi công nghệ phát triển đến mức nào rồi, chỉ cần bạn nhìn những món đồ công nghệ phát triển đến mức nào rồi</div>
                                    <div class="readmore mont"><a title="" href="new-detail.php">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="avarta"><a title="" href="new-detail.php"><img alt="" src="images/new2.png" class="img-fluid" alt=""></a></div>
                                <div class="info">
                                    <div class="date"><span>26/8/2020</span></div>
                                    <h3 class="mont"><a title="" href="new-detail.php">xua tan nắng nóng với nội thất màu xanh ngọc</a></h3>
                                    <div class="desc">Thời buổi công nghệ phát triển đến mức nào rồi, chỉ cần bạn nhìn những món đồ q</div>
                                    <div class="readmore mont"><a title="" href="new-detail.php">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="avarta"><a title="" href="new-detail.php"><img alt="" src="images/new3.png" class="img-fluid" alt=""></a></div>
                                <div class="info">
                                    <div class="date"><span>26/8/2020</span></div>
                                    <h3 class="mont"><a title="" href="new-detail.php">xua tan nắng nóng với nội thất màu xanh ngọc</a></h3>
                                    <div class="desc">Thời buổi công nghệ phát triển đến mức nào rồi, chỉ cần bạn nhìn những món đồ q</div>
                                    <div class="readmore mont"><a title="" href="new-detail.php">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="avarta"><a title="" href="new-detail.php"><img alt="" src="images/new4.png" class="img-fluid" alt=""></a></div>
                                <div class="info">
                                    <div class="date"><span>26/8/2020</span></div>
                                    <h3 class="mont"><a title="" href="new-detail.php">xua tan nắng nóng với nội thất màu xanh ngọc</a></h3>
                                    <div class="desc">Thời buổi công nghệ phát triển đến mức nào rồi, chỉ cần bạn nhìn những món đồ q</div>
                                    <div class="readmore mont"><a title="" href="new-detail.php">Xem thêm</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="partner">
        <div class="container">
            <div class="content">
                <div class="list-part">
                    <div class="row">
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part1.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part2.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part3.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part4.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part5.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part6.png" class="img-fluid" alt=""></a></div></div>
                        <div class="col-md-2"><div class="item text-center"><a title="" href=""><img alt="" src="images/part6.png" class="img-fluid" alt=""></a></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="popup">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close"  data-dismiss="modal" style="display: none;">&times;</button>
                <div class="content-popup">
                    <div class="item">
                        <div class="prod">
                            <div class="avarta"><a title="" href="product-detail.php"><img alt="" src="images/popup.png" class="img-fluid" alt=""></a></div>
                            <div class="info mont"><h3><a title="" href="product-detail.php">Bàn Newtrend NT140A</a></h3></div>
                        </div>
                        <div class="price">
                            <del>564.000 vnđ</del><span>325.000 vnđ</span>
                        </div>
                        <div class="quantity">
                            <span>Số lượng</span>
                            <div class="number-spinner">
                                <span class="ns-btn">
                                    <a data-dir="up"><span class="icon-plus"><i class="fa fa-angle-up"></i></span></a>
                                </span>
                                <input type="text" class="pl-ns-value" value="10" maxlength="5">
                                <span class="ns-btn">
                                    <a data-dir="dwn"><span class="icon-minus"><i class="fa fa-angle-down"></i></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="total text-right">
                        <span>Tổng giá: 325.000 vnđ</span>
                    </div>
                    <div class="form-sent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item">
                                    <label for="">Họ tên <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label for="">Địa chỉ <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label for="">Số điện thoại <span>*</span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item">
                                    <label for="">Ghi chú</label>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-sent mont text-right">
                                    <button>Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section id="popup-video">
        <div class="modal fade" id="myModal-video">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" style="display: none;">&times;</button>
                <div class="pop-video">
                    <iframe width="1019" height="573" src="https://www.youtube.com/embed/FAEkXvst4nM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
{% block js %}
{% endblock %}

