<form method="post" action="{{ path('list_holiday_delete', {'id': list_holiday.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ list_holiday.id) }}">
    <button class="btn">Delete</button>
</form>
