{% extends 'base.html.twig' %}

{% block title %}Edit ListHoliday{% endblock %}

{% block body %}
    <h1>Edit ListHoliday</h1>

    {{ include('list_holiday/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('list_holiday_index') }}">back to list</a>

    {{ include('list_holiday/_delete_form.html.twig') }}
{% endblock %}
