
	<footer>
		<!-- <a  title="" href="#" id="back-to-top" class=""><i class="fa fa-chevron-up"></i> </a>  -->
		<div class="footer-top">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-md-4">
							<div class="item wow fadeInUp wHighlight" data-wow-delay=".2s">
								<div class="logo mont">
									<a title="" href="index.php"><img alt="" src="images/logo.png" class="img-fluid" alt=""><span>Công ty TNHH Vina tq</span></a>
								</div>
								<div class="info-footer">
									<p><span class="bold">Văn phòng giao dịch:</span>  43 Thạnh Xuân, Phường Thạnh Xuân, Quận 12, TP.HCM</p>
									<p><span class="bold">Trụ sở:</span>  Tầng 10, Toà nhà Pax Sky, 51 Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM</p>
									<p><span class="bold">Điện thoại:</span> 0815888333</p>
									<p><span class="bold">Email:</span> doquyen.xl@gmail.com</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="item wow fadeInUp wHighlight" data-wow-delay=".4s">
								<div class="title-footer mont">doanh nghiệp</div>
								<div class="info-footer">
									<ul>
										<li><a title="" href="about.php">Giới thiệu</a></li>
										<li><a title="" href="product.php">Sản phẩm</a></li>
										<li><a title="" href="project.php">Dự án</a></li>
										<li><a title="" href="news.php">Tin tức</a></li>
										<li><a title="" href="contact.php">Liên hệ</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="item wow fadeInUp wHighlight" data-wow-delay=".6s">
								<div class="title-footer mont">Fanpage</div>
								<div class="info-footer">
									<div class="pages">
										<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkhungtranhsaomai%2F%3Fepa%3DSEARCH_BOX&tabs&width=370&height=145&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="370" height="145" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reserved">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-md-6 wow fadeInLeft wHighlight" data-wow-delay=".2s">
							<span><label for="">© GCO GROUP 2019.</label> All rights reserved</span>
						</div>
						<div class="col-md-6 wow fadeInRight wHighlight" data-wow-delay=".2s">
							<div class="social">
								<ul class="list-inline text-right">
									<li class="list-inline-item"><a title="" href=""><i class="fa fa-instagram"></i></a></li>
									<li class="list-inline-item"><a title="" href=""><i class="fa fa-twitter"></i></a></li>
									<li class="list-inline-item"><a title="" href=""><i class="fa fa-google-plus"></i></a></li>
									<li class="list-inline-item"><a title="" href=""><i class="fa fa-youtube-play"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>



